<nav>
  <a routerLink="/" class="brand">
    <img src="gcw.png" height="40" />
    Austin Birding
  </a>

  <div class="nav-links">
    <a
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <!-- exact: true means only mark active on exactly '/', not on '/anything-else' -->
      Dashboard
    </a>
    <a routerLink="/map" routerLinkActive="active">
      Recent Notable Sightings
    </a>
    <a routerLink="/species" routerLinkActive="active"> Local Species List </a>
  </div>
</nav>
