<div class="kpi-bar">
  <div class="kpi">
    <span class="kpi-label">Species Today</span>
    <span class="kpi-value">{{
      birdStateService.todayStats()?.numSpecies
    }}</span>
    <span class="kpi-yesterday"
      >{{ birdStateService.yesterdayStats()?.numSpecies }} yesterday</span
    >
  </div>

  <div class="kpi">
    <span class="kpi-label">Checklists Today</span>
    <span class="kpi-value">{{
      birdStateService.todayStats()?.numChecklists
    }}</span>
    <span class="kpi-yesterday"
      >{{ birdStateService.yesterdayStats()?.numChecklists }} yesterday</span
    >
  </div>

  <div class="kpi">
    <span class="kpi-label">Birders Out</span>
    <span class="kpi-value">{{
      birdStateService.todayStats()?.numContributors
    }}</span>
    <span class="kpi-yesterday"
      >{{ birdStateService.yesterdayStats()?.numContributors }} yesterday</span
    >
  </div>

  <div class="kpi">
    <span class="kpi-label">Latest Notable</span>
    <span class="kpi-value">{{
      birdStateService.recentNotableBirds()?.[0]?.comName ?? "—"
    }}</span>
    <span class="kpi-yesterday">{{
      birdStateService.recentNotableBirds()?.[0]?.locName
    }}</span>
  </div>
</div>
