<div class="species-detail">
  <div class="species-header">
    <h2>{{ birdStateService.selectedSpecies()!.comName }}</h2>
    <a
      [href]="
        'https://ebird.org/species/' +
        birdStateService.selectedSpecies()?.speciesCode
      "
      target="_blank"
    >
      View on eBird ↗
    </a>
  </div>

  <div class="species-meta">
    <h3>Recent sightings — past 30 days</h3>
    <p>Most recent observation per location only</p>
    @if (birdStateService.recentSightings()?.length === 0) {
      <p>Not seen recently in this area :-(</p>
    }
  </div>
</div>

<app-species-map />
